<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facundo</title>
</head>

<body>
    <header>
        <nav>
            <div>
                <img src="/public/images/logo-mercado-liebre...svg" alt="Logo">
            </div>
            <div>
                <p>Lugar para poner barra de búsqueda</p>
            </div>
            <div>
                <p>Compra en coutas y sin tarjeta de credito </p>
            </div>
            <div>
                <div>
                    <ul>
                        <li> <a href="">Ofertas</a> </li>
                        <li> <a href="">Tiendas Oficiales</a></li>
                        <li> <a href="">Vender</a></li>
                        <li> <a href="">Ayuda</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li> <a href=""> Crea tu cuenta </a> </li>
                        <li> <a href=""> Ingresa </a> </li>
                        <li> <a href="">Mis Compras </a> </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <h3>Basado en tu ultima visita</h3>
            <div>
                <article>
                    <img src="/public/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div>
                        <p>$6.770</p>
                        <p> 40% OFF</p>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="/public/images/img-macbook-pro-2019.jpg" alt="MacBook">
                    <div>
                        <p>$230.000</p>
                        <p> 20% OFF</p>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/public/images/img-samsung-galaxy-s10.jpg " alt="Samsung Galaxy">
                    <div>
                        <p>$70.500</p>
                        <p> 10% OFF</p>
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article>
                    <img src="/public/images/img-tv-samsung-smart.jpg" alt="Smart">
                    <div>
                        <p>$23.200</p>
                        <p> 5% OFF</p>
                        <h4> SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>

        <section>
            <h3>Seccion de Ofertas</h3>
            <div>
                <article>
                    <img src="/public/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div>
                        <p>$6.770</p>
                        <p> 40% OFF</p>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="/public/images/img-macbook-pro-2019.jpg" alt="MacBook">
                    <div>
                        <p>$230.000</p>
                        <p> 20% OFF</p>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/public/images/img-samsung-galaxy-s10.jpg " alt="Samsung Galaxy">
                    <div>
                        <p>$70.500</p>
                        <p> 10% OFF</p>
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article>
                    <img src="/public/images/img-tv-samsung-smart.jpg" alt="Smart">
                    <div>
                        <p>$23.200</p>
                        <p> 5% OFF</p>
                        <h4> SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <div>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p> Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
            </div>
            <div>
                <h3> Envio gratis desde los $2.500 </h3>
                <p> Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
            </div>
            <div>
                <h3> Seguridad de principio a fin </h3>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
            </div>
            <div>
                <p> Copyrigth ©  </p>
            </div>
        </div>
    </footer>
</body>

</html>